.CheckoutSummary {
    text-align: center;
    width:80%;
    margin: auto;

}


.Summary{
    width:100%;
    margin: auto;
}


.buttonPosition{
    margin-left: 50px;
}

/* @media (min-width: 600px) {
    .CheckoutSummary {
        width: 700px;
    }
} */

@media(max-width:400px ){
    .buttonPosition{
        margin-left: 10px;
    }
}